/* parte do conteúdo - pagina */
.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #4f2742;
  }
  
  .conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  
  .conteudo-principal-escrito-titulo {
    align-items: center;
    padding: 30px;
    font-family: 'Sarala', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #4f2742;
  }
  
  .conteudo-principal-escrito-subtitulo {
    align-items: center;
    font-family: 'Sarala', sans-serif;
    font-weight: 250;
    font-size: 20px;
    color: #4f2742;
  }
  
  .conteudo-principal-escrito-texto {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #4f2742;
    align-items: center;
    padding: 30px;
  }
  
  
  /* botão de busca */
  
  .busca {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #4f2742;
    align-items: center;
    width:275px;
    height:27px;
    margin: 10px;
  }
  
  .ok {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #4f2742;
    align-items: center;
  }
  